<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
    angular.module('myApp',[]).controller('myController', function($scope,$http){
       $http.get('/data/links').success(function(res){
          $scope.people = res[0]
          $scope.vehicles = res[1]
          $scope.edges = res[2]
	  console.log(res[0]);
       });
    });
    </script>
  </head>
  <body ng-app='myApp'>
    <div ng-controller='myController'>
      <div style='display:inline-block; vertical-align:top;'>
        <h1>Crews</h1>
        <ul>
          <li ng-repeat='peep in vehicles' ng-if="peep.source.length == 1">
            <span>{{peep.id}} : {{peep.label}} || {{peep.source[0].label}}</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
