html {
    font-family:san-serif;
}

#data, #interface{
    display:inline-block;
    height:700px;
    vertical-align:top;
    border:1px solid #EEE;
}

#data {
    width:calc(100% - 400px);
}

#interface{
    width:400px;

}

#tab_bar button {
    border:0;
}

.tab_form {
    display:none;
    min-height:200px;
    padding:10px;
}

.active_tab {
    border:1px solid #EEE;
    display:block;
    
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  opacity:0.5;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.ui-menu{
    border-radius: 1px;
    border: 1px solid #454545;
    position: relative;
    
}