html {
    font-family:san-serif;
}

#data, #interface{
    display:inline-block;
    height:500px;
    vertical-align:top;
}

#data {
    width:700px;
    background-color:#FAFAFA;
}

#interface{
    width:400px;
    background-color:#FAFAFA;
}

#tab_bar button {
    border:0;
}

.tab_form {
    display:none;
    height:400px;
}

.active_tab {
    border:1px solid black;
    display:block;
    
}