html {
    font-family:san-serif;
}

#data, #interface{
    display:inline-block;
    height:700px;
    vertical-align:top;
    border:1px solid #EEE;
}

#data {
    width:700px;
}

#interface{
    width:400px;
}

#tab_bar button {
    border:0;
}

.tab_form {
    display:none;
    height:200px;
}

.active_tab {
    border:1px solid #EEE;
    display:block;
    
}